@import "src/style/themes/include/colors";

.dataFilesTabWrapper {
    display: flex;

    :global(.ant-pagination) {
        margin-bottom: 0;
    }

    .unauthorizedLock {
        color: $gray-6
    }

    .authorizedLock {
        color: $green-7
    }
}