@import "colors";

.withCustomHelp {
  div[class$="-item-label"] {
    padding-bottom: 0;
  }
}

div[class$="-item-label"] {
  font-weight: 600;
}

.help {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 20px;
}

h3.subSectionTitle {
  margin-bottom: 24px;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.dynamicField {
  margin-top: -18px;

  &:not(.withCustomHelp) {
    div[class$="-item-label"] {
      padding-bottom: 4px;
    }
  }

  label {
    font-size: 12px;
    &::before {
      content: none !important;
    }
  }
}

.fullNameField {
  margin-bottom: 8px;
}

.affiliationField {
  margin-bottom: 0;
}

.noAffiliationField,
.affiliationField,
.researchAreaField {
  padding-top: 8px;
}

.iconSuffix {
  color: $gray-6;
}

.registrationFooter {
  width: 100%;
  margin-top: 24px;
  justify-content: space-between;
}
