@import "colors";

.SavedFiltersListItem {
  .filterLink {
    padding: 0;
    height: unset;
    color: $gray-8;
    text-decoration: underline;
    &:hover {
      color: $gray-8;
      text-decoration: none;
    }
  }

  .itemMeta {
    margin-bottom: 0px;

    *[class$="-meta-description"] {
      color: $gray-7;
    }
  }

  .editFilterAction {
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.filterEditFormItem {
  margin: 0;

  div[class$="-explain-connected"] {
    display: none;
  }
}
