.cavaticaAnalyseModal {
  .authorizedFilesTag {
    margin: 0;
  }

  .filesList {
    div[class$='-meta-description'] {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 12px;
    }
  }
}

.cavaticaModalWrapper {
  .treeSelectorWrapper, .treeSelector{
    width: 100%;
  }
  
  .treeSelectEmpty {
    width: 100%;
    padding: 4px 8px;
  }
}

.cavaticaTreeDropdown {
  padding: 0;

  .cavaticaTreeDropdownMenu {
    padding: 8px 4px;
  }

  .cavaticaTreeDropdownFooter {
    padding: 12px;
  }  

  .cavaticaTreeDropdownDivider {
    margin: 0;
   }
}