.savedFiltersList {
    height: 100%;
    overflow: auto;

    div[class$="-item-meta"] {
        margin-bottom: 0;
    }

    *[class$="-item-meta-title"] {
        font-weight: 400;
        font-size: 14px;
    }

    *[class$="-item-meta-description"] {
        font-size: 12px;
    }
}