@import 'style/themes/clin/_colors';

.variantFilterWrapper {
  min-height: 100px;

  .filterGroupTitle {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $gray-7;

    &:first-child {
      margin-top: 0;
    }
  }

  &.genericFilterWrapper {
    .variantFilterContainer {
      &:last-child {
        padding-bottom: 8px;
      }
    }
  }

  &:not(.genericFilterWrapper) {
    .variantFilterContainer {
      &:last-child {
        padding-bottom: 16px;
      }
    }
  }

  .variantFilterContainer {
    margin-top: 8px;
    :global(.ant-collapse) {
      border: none;
    }
  }
}

.expandButtonContainerVariant {
  display: grid;
  justify-content: end;

  button {
    padding-right: 0;
    padding-left: 0;
  }

  span:not(:hover) {
    text-decoration: underline;
  }
}
