@import 'colors';

.filterWrapper {
  min-height: 100px;

  .filterGroupTitle {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 500;

    &:first-child {
      margin-top: 0;
    }
  }

  .filtersGroup {
    .filter {
      margin-top: 8px;

      &:last-child {
        padding-bottom: 16px;
      }
    }
  }

  &.genericFilterWrapper {
    .customFilterContainer {
      &:last-child {
        padding-bottom: 8px;
      }
    }
  }

  .customFilterContainer {
    margin-top: 8px;
    :global(.ant-collapse) {
      border: none;
    }
  }
}

.filterExpandBtnWrapper {
  display: grid;
  justify-content: end;

  button {
    padding-right: 0;
    padding-left: 0;
  }
}

.customSearchesWrapper {
  width: 100%;
}
