@import "colors";

.authorizedWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .authorizedStudiesList {
    overflow: auto;
  }

  .dataAccessBtn {
    padding: 0;
    > span {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .authSection {
    margin-bottom: 8px;
    justify-content: space-between;

    .safetyIcon {
      font-size: 20px;
    }

    .notice {
      font-size: 12px;
      vertical-align: super;
      line-height: 10px;
    }
  }
}
