@import "colors";

.authorizedStudiesList {
  max-height: 325px;
  overflow: auto;
}

.dataAccessBtn {
  padding: 0;
  > span {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.authSection {
  margin-bottom: 12px;
  width: 100%;
  justify-content: space-between;

  .safetyIcon {
    font-size: 20px;
  }

  .notice {
    font-size: 12px;
    vertical-align: super;
    line-height: 10px;
  }
}
