
@import "colors";

.dataExploBox {
    padding: 16px;
    background-color: $gray-1;
    width: 100%;
    border-radius: 2px;

    .linkIconWrapper {
        color: $gray-1;
        background-color: $blue-7;
        padding: 8px;
        display: flex;
        border-radius: 2px;
        font-size: 22px;
    }

    .linkTitle {
        font-weight: 500;
        color: $gray-8;
        font-size: 16px;
    }
}