@import 'colors';

.dataExploBox {
  padding: 16px;
  background-color: $gray-1;
  width: 100%;
  border-radius: 2px;
  border: 1px solid $gray-4;

  &:hover {
    .linkIconWrapper {
      background-color: $gray-8;
    }

    .linkArrow {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .linkArrow {
    opacity: 0;
    transform: translateX(-10px);
    transition: transform 0.3s ease;
    margin-left: -8px;
    color: $gray-8;
  }

  .linkIconWrapper {
    color: $gray-1;
    background-color: $blue-7;
    padding: 8px;
    display: flex;
    border-radius: 2px;
    font-size: 22px;
  }

  .linkTitle {
    font-weight: 500;
    color: $gray-8;
    font-size: 16px;
  }
}
