@import "../../../../node_modules/antd/dist/antd.less";
@import "./colors.less";
@import "./antd/buttons.less";
@import "./antd/input.less";
@import "./antd/tooltips.less";
@import "./antd/dropdowns.less";
@import "./antd/alerts.less";
@import "./antd/tabs.less";
@import "./antd/tables.less";

@font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
  Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;

@primary-color: @blue-8;
@normal-color: @gray-5;
@skeleton-color: @gray-4;

// TEXT COLORS
@text-color: @gray-8;
@text-color-secondary: @gray-7;
@heading-color: @gray-9;

// STATE COLORS
@info-color: @blue-6;
@success-color: @green-6;
@warning-color: @orange-6;
@error-color: @red-6;
@processing-color: @blue-6;

// BORDER COLORS
@border-color-base: @gray-4;
@border-color-split: @gray-4;
@divider-color: @gray-4;

// OUTLINE
@outline-color: @blue-6;
@outline-blur-size: 0;
@outline-width: 4px;
@outline-fade: 50%;

// DISABLED
@disabled-color: @gray-6;
@disabled-bg: @gray-3;

// ITEMS
@item-hover-bg: @gray-3;
@item-active-bg: @blue-1;

// LAYOUT
@layout-body-background: @gray-3;
