@import "../../../../node_modules/antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import "./colors.less";
@import "./antd/buttons.less";

@font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

@disabled-bg: @gray-3;
@disabled-color: @gray-6;