.@{alert-prefix-cls} {
  &-success {
    .@{alert-prefix-cls}-message {
      color: @green-9;
    }
  }

  &-info {
    .@{alert-prefix-cls}-message {
      color: @blue-9;
    }
  }

  &-warning {
    .@{alert-prefix-cls}-message {
      color: @orange-9;
    }
  }

  &-error {
    .@{alert-prefix-cls}-message {
      color: @red-8;
    }
  }
}
