@import 'src/style/themes/include/colors';

.savedSetListItem {
  .countDisplay {
    padding-right: 5px;
    .count {
      font-weight: 500;
    }
  }
  .setName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
  }
}
