@import 'src/style/themes/include/colors';

.saveSetOptionMenu {
  .saveSetOptionMenuInfo {
    &:hover {
      cursor: default;
    }
    
    &Over {
      color: $red-6;

      &:hover {
        cursor: default;
      }

      .infoCircle {
        margin-left: 1rem;
      }
    }

    .infoCircle {
      margin-left: 1rem;
    }
  }
}
